.footer {
    width: 18.11111111111111em;
    height: 4.944444444444445em;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    line-height: 1.5;
    &__item{
        text-align: center;
        margin-top: 15px;
        margin-left: 7px;
    }
    &__stats{
        font-weight: 700;
        
        color: $darkDesaturatedBlue;
    }
    &__statsname{

        color: $darkGrayishBlue;
        font-size: 15px;
        margin: 0;
        padding: 0;
    }
}
