@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
//font-family: 'Kumbh Sans', sans-serif;

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-size: $fontSize;
    font-family: $font;


    background-color: $darkCyan;

    background-repeat:no-repeat;
}


.container{
    width: 18.11em;
    height: 20.778em;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

hr {
    background-color: $darkGray;
    height: 1px;
    border:0;
}



